---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import Titulo from "../components/Titulo.astro";
import TituloSeccion from "../components/TituloSeccion.astro";
---

<Layout title="Contacto">
   <Container>
      <Titulo titulo="" span="Contacto" />
      <main>
         <TituloSeccion>Mis datos de contacto</TituloSeccion>
         <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta recusandae distinctio ipsum dignissimos quos
            nam animi aspernatur ratione nesciunt magni?</p>
      </main>
   </Container>
</Layout>