---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import Titulo from '../components/Titulo.astro';
import Menu from "../components/Menu.astro";
import Grid from "../components/Grid.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Portfolio Jorge Arce">
    <Container>
        <main>
            <Titulo titulo="Hola, soy " span="Jorge Arce"></Titulo>
            <Menu />
            <Grid>
                <Card href="" title="Documentation" body="Learn how Astro works and explore the official API docs." />
                <Card href="" title="Integrations" body="Supercharge your project with new frameworks and libraries." />
                <Card href="" title="Themes" body="Explore a galaxy of community-built starter themes." />
                <Card href="" title="Chat" body="Come say hi to our amazing Discord community." />
            </Grid>
        </main>
        <Footer />
    </Container>
</Layout>

<style>
    main {
        width: 100%;
        margin-inline: auto;
    }
</style>