---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import Titulo from '../components/Titulo.astro';
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Jorge Arce Balluerca">
    <Container>
        <Titulo titulo="Frontend Developer" span="Jorge Arce Balluerca"></Titulo>
        <Menu />
        <main>
            <p>Lorem ipsum dolor sit <strong>amet consectetur</strong> adipisicing elit. Debitis quas dignissimos
                quibusdam nemo itaque
                sit natus molestias pariatur <em>dolores beatae</em>, sed nulla atque optio fugiat veniam culpa
                voluptatem
                placeat ipsam quia. Dignissimos nobis in veritatis saepe, quam dolorum tempore quia odit harum. Qui et
                inventore vitae architecto in odit fuga.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, officia? Quaerat explicabo eveniet quis
                sed quod molestiae ullam ab magni incidunt voluptates! Libero expedita earum distinctio tempora ab harum
                optio vel modi tenetur atque eum ipsa, repellat at quia dignissimos perferendis magni quisquam aliquam
                ea eligendi voluptatem doloremque eos dolor? Error maiores, neque, nulla quod reiciendis voluptatum
                veritatis minus commodi cum unde ipsum? Iure architecto praesentium illum numquam ipsum voluptas
                explicabo, magnam laborum quos rerum. Incidunt, fugit, corrupti quibusdam in praesentium animi
                perferendis fugiat aut culpa porro ex quis? Eius impedit deserunt velit mollitia, dolore necessitatibus
                modi nemo aliquid cupiditate?</p>
        </main>
        <Footer />
    </Container>
</Layout>

<style>
    main {
        width: 100%;
        margin-inline: auto;
    }
</style>