---
import GrupoIconos from './GrupoIconos.astro'
import Jorgeabf from './icons/Jorgeabf.astro'
---

<div class='pattern-dots-md'>
  <Jorgeabf />
  <GrupoIconos className='grupo-iconos' />
</div>

<style>
  .pattern-dots-md {
    position: relative;
    margin-block: 1.5em;
    color: var(--primary-850);
    background-image: radial-gradient(currentColor 1px, transparent 1px);
    background-size: calc(10 * 1px) calc(10 * 1px);
  }
</style>
