---
import GrupoIconos from './GrupoIconos.astro'
import Jorgeabf from './svg/Jorgeabf.astro'
---

<div class='pattern-dots-md'>
  <Jorgeabf />
  <GrupoIconos className='grupo-iconos' />
</div>

<style>
  .pattern-dots-md {
    position: relative;
    margin-block: 1.5em;
    color: var(--primary-850);
  }
</style>
