---
export interface Props {
   title: string;
   body: string;
   href: string;
}
const { href, title, body } = Astro.props;
---

<a
   href={href}
   class="link-card">
   <h3 class="link-card__titulo">
      {title}
      <span class="link-card__span">&rarr;</span>
   </h3>
   <p class="link-card__parrafo">
      {body}
   </p>
</a>

<style>
   .link-card {
      padding: 1em;
      border: var(--border);
      border-radius: var(--border-radius);
      text-decoration: none;
      background-color: hsl(0, 0%, 100%);
      color: var(--text-color);
      transition: background-color,
         border-color 0.3s ease-in-out;
      display: block;
   }

   .link-card__titulo {
      margin: 0;
      transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
   }

   .link-card__parrafo {
      margin-top: 0.75rem;
      margin-bottom: 0;
      color: var(--text-color);
   }

   .link-card__span {
      display: inline-block;
      transition: transform 0.3s
         cubic-bezier(0.22, 1, 0.36, 1);
   }

   .link-card:is(:hover, :focus-within) {
      background-color: hsl(10, 50%, 98.5%);
      border-color: var(--secondary-500);
   }

   .link-card:is(:hover, :focus-within) .link-card__titulo {
      color: var(--primary);
   }

   .link-card:is(:hover, :focus-within) .link-card__span {
      transform: translateX(0.2em);
   }
</style>
