<div class="container">
    <slot />
</div>

<style>
    .container {
        --max-width: 1300px;
        width: 100%;
        max-width: var(--max-width);
        min-height: 100vh;
        padding: 2em 1em 0;
        margin-inline: auto;
        background-color: var(--color-bg);
        display: grid;
        align-items: center;
        gap: 3em 1em;
        grid-template-columns: 1fr 1fr min-content;
        grid-template-rows: min-content 1fr min-content;
        grid-template-areas:
            "header header menu"
            "main main main"
            "footer footer footer";
    }
</style>