<div class="container">
    <slot />
</div>

<style>
    .container {
        width: 90%;
        min-height: 100vh;
        max-width: 1200px;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
    }
</style>