---
import GrupoIconos from "./GrupoIconos.astro";
---

<footer>
   <p>&copy; Jorge Arce Balluerca</p>
</footer>
<style>
   footer {
      grid-area: footer;
      width: 100%;
      margin-top: auto;
      padding-block: 1em;
      text-align: center;
      border-top: var(--border);
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
</style>
