<div role="list" class="grid">
    <slot />
</div>

<style>
    .grid {
        width: 100%;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: .5em;
    }
</style>