<nav>
    <ul class="nav">
        <slot />
    </ul>
</nav>

<style>
    .nav {
        grid-area: menu;
        justify-self: flex-end;
        width: fit-content;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;
    }
</style>