---
export interface Props {
   titulo: string;
   span: string;
}
const { titulo, span } = Astro.props;
---

<h1><span class="text-gradient">{span}</span>{titulo}</h1>

<style>
   h1 {
      --astro-gradient: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
      grid-area: header;
      margin: 0;
      width: fit-content;
      line-height: 1.2;
      letter-spacing: -.1rem;
      font-family: encode-700, sans-serif;
      font-size: var(--fs-2);
      text-align: left;
      color: var(--color-text-light);
      display: flex;
      flex-direction: column;
   }

   .text-gradient {
      letter-spacing: -.05rem;
      font-size: var(--fs-4);
      font-family: encode-900, sans-serif;
      background-image: var(--astro-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }

   @media (hover:hover) {
      h1 {
         font-size: var(--fs-3);
         text-align: center;
      }

      .text-gradient {
         font-size: var(--fs-5);
      }
   }
</style>