<h2>
   <slot />
</h2>

<style>
   h2 {
      font-size: var(--fs-3);
      width: fit-content;
      border-bottom: 2px solid var(--color-primary-light);
      color: var(--color-primary);
   }

   @media(hover:hover) {
      h2 {
         font-size: var(--fs-4);
      }
   }
</style>