<h2>
   <slot />
</h2>

<style>
   h2 {
      width: fit-content;
      border-bottom: 3px dotted var(--color-primary-600);
      font-size: var(--fs-3);
      color: var(--color-primary-300);
   }

   @media(hover:hover) {
      h2 {
         font-size: var(--fs-4);
      }
   }
</style>