---
export interface Props {
    titulo: string;
    span: string;
}
const { titulo, span } = Astro.props;
---

<h1><span class="text-gradient">{span}</span><br>{titulo}</h1>

<style>
    h1 {
        --astro-gradient: linear-gradient(0deg, var(--color-primary), var(--color-secondary));
        grid-area: header;
        margin: 0;
        width: 100%;
        line-height: 1.25;
        font-size: var(--fs-2);
        text-align: left;
        color: var(--color-text-light);
    }

    .text-gradient {
        font-size: var(--fs-4);
        font-weight: 900;
        background-image: var(--astro-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 100% 200%;
        background-position-y: 100%;
        animation: pulse 4s ease-in-out infinite;
    }

    @media (hover:hover) {
        h1 {
            flex-direction: row;
            font-size: var(--fs-3);
        }

        .text-gradient {
            font-size: var(--fs-5);
        }
    }

    @keyframes pulse {

        0%,
        100% {
            background-position-y: 0%;
        }

        50% {
            background-position-y: 80%;
        }
    }
</style>