---
import '@fontsource/encode-sans/500.css';
import '@fontsource/encode-sans/700.css';
import { ViewTransitions } from 'astro:transitions'
export interface Props {
  title: string
}
const { title } = Astro.props as Props
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    />
    <meta
      name='description'
      content='Sitio web y porfolio personal de Jorge Arce Balluerca'
    />
    <meta
      name='color'
      content='#765a56'
    />
    <link
      rel='icon'
      type='image/x-icon'
      href='/favicon.svg'
    />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style is:global>
      :root {
        --fs--2: clamp(0.64rem, calc(0.71rem + -0.1vw), 0.69rem);
        --fs--1: clamp(0.8rem, calc(0.85rem + -0.06vw), 0.83rem);
        --fs-0: clamp(1rem, calc(1rem + 0vw), 1rem);
        --fs-1: clamp(1.2rem, calc(1.18rem + 0.09vw), 1.25rem);
        --fs-2: clamp(1.44rem, calc(1.4rem + 0.22vw), 1.56rem);
        --fs-3: clamp(1.73rem, calc(1.65rem + 0.41vw), 1.95rem);
        --fs-4: clamp(2.07rem, calc(1.94rem + 0.67vw), 2.44rem);
        --fs-5: clamp(2.49rem, calc(2.28rem + 1.02vw), 3.05rem);

        --primary-h: 220;
        --primary-s: 50%;
        --secondary-h: 10;
        --secondary-s: 70%;

        --primary-975: hsl(var(--primary-h), var(--primary-s), 97.5%);
        --primary-950: hsl(var(--primary-h), var(--primary-s), 95%);
        --primary-925: hsl(var(--primary-h), var(--primary-s), 92.5%);
        --primary-900: hsl(var(--primary-h), var(--primary-s), 90%);
        --primary-875: hsl(var(--primary-h), var(--primary-s), 87.5%);
        --primary-850: hsl(var(--primary-h), var(--primary-s), 85%);
        --primary-825: hsl(var(--primary-h), var(--primary-s), 82.5%);
        --primary-800: hsl(var(--primary-h), var(--primary-s), 80%);
        --primary-700: hsl(var(--primary-h), var(--primary-s), 70%);
        --primary-600: hsl(var(--primary-h), var(--primary-s), 60%);
        --primary-500: hsl(var(--primary-h), var(--primary-s), 50%);
        --primary-400: hsl(var(--primary-h), var(--primary-s), 40%);
        --primary-300: hsl(var(--primary-h), var(--primary-s), 30%);
        --primary-200: hsl(var(--primary-h), var(--primary-s), 20%);
        --primary-100: hsl(var(--primary-h), var(--primary-s), 10%);

        --secondary: hsl(var(--secondary-h), var(--secondary-s), 50%);
        --secondary-dark: hsl(var(--secondary-h), var(--secondary-s), 40%);
        --secondary-light: hsl(var(--secondary-h), var(--secondary-s), 60%);

        --text-color: var(--primary-100);
        --text-color-light: var(--primary-300);

        --border: 2px solid var(--primary-900);
        --border-radius: 0.5em;
      }

      *,
      *::after,
      *::before {
        box-sizing: border-box;
      }

      html,
      body {
        min-height: 100%;
      }

      body {
        margin: 0;
        line-height: 1.5;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: var(--fs-1);
        background-image: linear-gradient(0deg, #fff, var(--primary-925));
        color: var(--text-color);
      }

      main {
        grid-area: main;
        margin: 0;
        padding-block: 1em 2em;
      }

      main p:last-child {
        margin-bottom: 0;
      }

      h1,
      h2,
      h3{
        font-family: 'Encode Sans', sans-serif;
        font-weight: 700;
        margin-top: 0;letter-spacing: -0.1rem;
      }

      strong {
        font-weight: 500;
      }

      a {
        color: var(--primary);
        outline: none;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
      }

      a:is(:hover, :active, :focus) {
        color: var(--secondary);
      }

      img {
        max-width: 100%;
        display: block;
        color: rgb(64, 106, 191);
        color: rgb(217, 68, 38);
      }
    </style>
  </body>
</html>
