---
export interface Props {
    title: string;
}
const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sitio web y porfolio personal de Jorge Arce Balluerca">
    <meta name="color" content="#765a56">
    <link rel="icon" type="image/x-icon" href="src/favicon.ico" />
    <title>{title}</title>
</head>

<body>
    <slot />
</body>

</html>

<style is:global>
    @font-face {
        font-family: 'Encode-700';
        font-style: normal;
        font-display: swap;
        src: url('../../fonts/EncodeSansSemiCondensed-Bold.ttf') format('woff2');
    }

    @font-face {
        font-family: 'Encode-900';
        font-style: normal;
        font-display: swap;
        src: url('../../fonts/EncodeSansSemiCondensed-Black.ttf') format('woff2');
    }

    :root {
        --fs--2: clamp(0.64rem, calc(0.71rem + -0.10vw), 0.69rem);
        --fs--1: clamp(0.80rem, calc(0.85rem + -0.06vw), 0.83rem);
        --fs-0: clamp(1.00rem, calc(1.00rem + 0.00vw), 1.00rem);
        --fs-1: clamp(1.20rem, calc(1.18rem + 0.09vw), 1.25rem);
        --fs-2: clamp(1.44rem, calc(1.40rem + 0.22vw), 1.56rem);
        --fs-3: clamp(1.73rem, calc(1.65rem + 0.41vw), 1.95rem);
        --fs-4: clamp(2.07rem, calc(1.94rem + 0.67vw), 2.44rem);
        --fs-5: clamp(2.49rem, calc(2.28rem + 1.02vw), 3.05rem);


        --color-text: hsl(8, 16%, 29%);
        --color-text-light: hsl(8, 16%, 40%);
        --color-bg: hsl(0, 0%, 97.5%);
        --border-color: hsl(8, 18%, 89%);
        --color-primary: hsl(216, 100%, 40%);
        --color-primary-light: hsl(210, 100%, 50%);
        --color-secondary: hsl(1, 86%, 60%);
    }

    *,
    *::after,
    *::before {
        box-sizing: border-box;
    }

    html,
    body {
        min-height: 100vh;
    }

    body {
        --max-width: 1300px;
        max-width: var(--max-width);
        width: 100%;
        min-height: 100vh;
        margin: 0;
        padding: 3.5em 1em;
        margin-inline: auto;
        background-color: var(--color-bg);
        line-height: 1.5;
        font-family: system-ui, sans-serif;
        font-size: var(--fs-1);
        background-color: var(--color-bg);
        color: var(--color-text);
    }

    a {
        color: var(--color-primary);
        outline: none;
        text-decoration: none;
        transition: color .2s ease-in-out;
    }

    a:is(:hover, :active, :focus) {
        color: var(--color-secondary)
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        font-family: Encode-700 Condensed, sans-serif;
    }

    h1 {
        font-family: Encode-900;
        line-height: 1.25;
        font-size: var(--fs-3);
    }

    @media (hover:hover) {
        h1 {
            font-size: var(--fs-5);
        }
    }
</style>