---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";
import Titulo from "../../components/Titulo.astro";
import Grid from "../../components/Grid.astro";
---

<Layout title="Proyecto Autoescuela">
    <Container>
        <Titulo titulo="Proyecto Autoescuela" span="Jorge Arce Balluerca" />
        <main>
            <Grid>
            </Grid>
        </main>
    </Container>
</Layout>